
body {
  padding-top: 61px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  @include clearfix;

  @include max-screen(1170px) {
    width: 960px;
  }

  @include max-screen(960px) {
    width: 85%;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  display: block;

  img {
    width: 100%;
    height: auto;
  }
}

.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .brand {
    float: left;
    margin-top: 27px;
  }

  .user {
    margin-top: 20px;
    float: right;

    .user-name {
      margin: 2px 10px 0 0;
      float: left;

      .user-logout {
        display: block;
        text-align: right;
      }
    }
  }
}

.footer {
  padding: 20px 0;

  .footer-brand {
    float: left;
  }

  .footer-links {
    float: right;
  }
}
