
/* Buttons Skeleton
----------------------------------*/
.btn {
  padding: 0 10px;
  height: 33px;
  @include inline-block;
  
  &.btn-small {
    height: 20px;
    padding: 0 5px;
  }

  &.btn-medium {
    height: 38px;
    padding: 0 20px;
  }

  &.btn-large {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
  }

  &.btn-full {
    display: block;
  }
}