<template name="home">
  {{>home_view}}
</template>

<template name="home_view">
  <div class="hero-home">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <h1>Usa el poder colectivo de las Tandas para comprar lo que deseas.</h1>
            {{> fb_connect }}
          </div>
        </div>
      </div>
    </div>
  </div>
    <button class="btn" id="btn-user-data">Get User Data</button>
    <div id="fb-root">
        {{#each amigos}}
        <div id="{{id}}" class="selected">{{name}}<img src="{{picture}}"></div>
        {{/each}}
    </div>
</template>