<template name="footer">
  <div class="footer">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="footer-brand">
              <a href="{{pathFor 'home'}}">
                <i class="i contanda-logo"></i>
              </a>
            </div>
            <div class="footer-links">
              <a href="mailto:hello@simiographics.com">Contacto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>