<template name="tarjeta">
	<form id="formPagoConTarjeta">
	  	Nombre : <input type="text" placeholder="Nombre" name="name" value="Mac pato">
	  	Numero : <input type="text" placeholder="Credit card number" name ="number" value="4242424242424242">
	  	Vencimiento Mes : <input type="text" name ="exp_month" placeholder="Vencimiento Mes" value="08">
	  	Vencimiento Año :  <input type="text" name ="exp_year" placeholder="Vencimiento Año" value="18">
	  	CVC <input type="text" name ="cvc" placeholder="cvc" value="030">
  		<input type="button" value="Go" id="SubmitCC">
	</form>
</template>